user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
}

http {
    server {
        listen 80 default_server;
        server_name _;
        root /opt/static-sites;
        index index.html;
        location / {
            try_files $uri $uri/ =404;
        }
    }
}
